.card{
    /* background-color: rgb(142, 197, 197); */
    background-color: rgb(241, 229, 241);
    margin: 25px;
    padding:8px;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
}
p{
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}
h1{
    background-color: rgb(156, 120, 190);
}
a{
    display: block;
    margin: 20px;
}
img{
    display: inline;
    /* border-color: blueviolet; */
    margin-left: 15px;
    margin-right: 15px;
    border:5px solid rgb(186, 157, 214);

}
*{
    font-family: sans-serif;
    margin:25px;
}