.center{
    text-align: center;
    color: rgba(168, 110, 23, 0.856);
    text-decoration: underline;
    font-size: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

.middle{
    text-align: center;;
}
*{
    font-family: 'Arial, Times New Roman', Times, serif;
    font-size: 20px;
}

h2, h3{
    text-align: center;
    color: rgba(168, 110, 23, 0.856);
    font-size: 30px;
}
